
/*HEDER*/
.page_header {
    background-color: rgba(255, 255, 255, 0.895);
    position: sticky;
    top: 0;
    z-index: 110;
    border-bottom: solid 1.5px rgb(185, 185, 185);
}

.navbar {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.logo_conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}

.navbar .navbar_menu {
    display: flex;
    gap: var(--spacing-12);
}


.logo {
    object-fit: contain;
    width: 50px;
    height: 45px;
}

.page_header .navbar .navbar_menu .navbar_Item {
    font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 510;
}
.container_user_section {
    display: flex;
    gap: 0.5rem;
}
.page_header .user_section {
    font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: rgb(56, 97, 251);
    padding:0.2rem 0.6rem;
    border: solid 2px rgb(56, 97, 251);
    border-radius: 1.2rem;
}
.page_header #sing_up {
    color: #ffffff;   
    background: rgb(56, 97, 251);
    border: none;
}
/*cambiar a display block cuando se inicia sesion o se regitro*/
#profile{
    display: none;
}

.page_header  .user_section:hover {
    transform: scale(1.05);
}

.navbar_menu a:hover {
    font-weight: 600;
    color: #3861fb;
}
